<%= error_messages_for 'appli' %>

<!--[form:appli]-->
<div class="box tabular">
  <p><%= f.text_field :name, :required => true %></p>
  <p><%= f.text_area :description, :rows => 10 %></p>
  <%= f.hidden_field :datacenter_id, :value => @datacenter.id %>
</div>
<!--[eoform:appli]-->
