<script type="text/javascript">
//<![CDATA[
function toggle_multi_select_datacenter(field) {
    select = $(field);
    if (select.multiple == true) {
        select.multiple = false;
    } else {
        select.multiple = true;
    }
}
//]]>
</script>
<p>
  <label><%= l(:label_appli_plural) %></label>
  <% applis = Appli.for_project(@project.id).active(:include => :instances) | @issue.applis | @issue.instances.map(&:appli) %>
  <%= select_applis_or_instances(@issue,applis) %>
  <%= link_to_function image_tag('bullet_toggle_plus.png'),
                       "toggle_multi_select_datacenter('issue_appli_instance_ids');",
                       :style => "vertical-align: bottom;" %>
</p> 
